# Git settings
!.gitignore

# Описатель UPM-пакета
!package.json

# Папка UPM-пакета
!com.yourcompany.appsflyer-iap/
!com.yourcompany.appsflyer-iap/**

# Теперь снова отслеживаем README.md
!README.md

# Явно игнорируем IDE-папку
.idea/